@import "vars";
@import "mixin";
// common
.section {
  padding: 100px 0;
  .titleBox {
    margin-bottom: 50px;
    color: #333;
    text-align: center;
    h2 {
      margin-bottom: 20px;
      font-size: $font-large;
      font-weight: 500;
    }
    p {
      line-height: 1.5em;
    }
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
}

#mainVisual {
  overflow: hidden;
  li {
    height: 100vh;
    position: relative;
    overflow: hidden;
    opacity: 1;
    &.swiper-slide-active {
      .aniMask {
        width: 100%;
        transition: all 1s ease;
      }
    }
    &.swiper-slide-prev {
      .aniMask {
        width: 100%;
      }
    }
    .aniMask {
      width: 0;
      height: 100%;
      position: absolute;
      //transform: scale(1.2);
      overflow: hidden;
    }
    .img {
      width: 100vw;
      height: 100%;
      position: absolute;
      // transform: scale(1.2);
      // transition: all 5s ease;
      background: {
        position: 50% 50%;
        size: cover;
        repeat: no-repeat;
      }
    }
    &.visual01 .img {
      background-image: url(../images/main/mainVisual01.jpg);
    }
    &.visual02 .img {
      background-image: url(../images/main/mainVisual02.jpg);
    }
    &.visual03 .img {
      background-image: url(../images/main/mainVisual03.jpg);
    }
  }
  .slogan {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 2;
    color: #fff;
    transform: translateY(-25%);
    text-align: center;
    user-select: none;
    h2 {
      margin-bottom: 30px;
      font-size: $font-large;
      font-weight: 500;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 150px;
    z-index: 10;
    .swiper-pagination-bullets {
      width: auto;
      .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
        border: 2px solid #fff;
        background: none;
        opacity: 1;
        transition: all 0.25s ease;
        box-sizing: border-box;
        border-radius: 100px;
        &-active {
          width: 80px;
          background-color: #fff;
        }
      }
    }
    .autoBtns {
      button {
        @include absCenter(false, true);
      }
      span {
        display: block;
        width: 50px;
        font-size: 30px;
        color: #fff;
        transform: translateY(-2px);
      }
      .play {
        display: none;
      }
    }
  }
  button {
    position: absolute;
    top: 50%;
    z-index: 3;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0.01);
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
  .iconScroll {
    width: 100%;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    color: #fff;
    text-align: center;
    .icon {
      display: block;
      width: 24px;
      height: 45px;
      margin: 0 auto 10px;
      border: 3px solid #fff;
      border-radius: 100px;
      box-sizing: unset;
      &:before {
        // display: block;
        // position: relative;
        width: 3px;
        height: 8px;
        margin: 10px auto 0;
        background-color: #fff;
        animation: mouseAnimation 1s ease-in-out 0s infinite alternate;
        @include pseudo(block, relative, ""); // content: "";
      }
    }
  }
}
#quickMenu {
  padding: 0;
  .container ul {
    display: flex;
    li {
      position: relative;
      overflow: hidden;
      &:before {
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        z-index: 1;
        border: 1px solid rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: opacity 0.25s ease-in-out;
        pointer-events: none;
        @include pseudo;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
        & img {
          transform: scale(1.2);
        }
      }
      .txtBox {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        p {
          margin-bottom: 20px;
          font-size: $font-normal + 5px;
          font-weight: 300;
        }
        h3 {
          font-size: $font-medium + 10px;
          font-weight: 600;
          line-height: 3rem;
        }
      }
      img {
        transition: transform 0.25s ease-in-out;
        vertical-align: top;
      }
    }
  }
}
#business {
  background-image: url(../images/main/bgBusiness.jpg);
  .titleBox p {
    font-size: 20px;
    font-weight: 300;
  }
  .container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 720px;
    align-content: space-between;
    li {
      position: relative;
      overflow: hidden;
      &:hover img {
        transform: scale(1.2);
      }
      .txtBox {
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: #fff;
        h3 {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 700;
        }
      }
      img {
        transition: transform 0.5s ease-in-out;
        vertical-align: top;
      }
    }
  }
}
#news {
  .list {
    display: flex;
    justify-content: space-between;
    li {
      flex-basis: 31.33%;
      position: relative;
      border: 1px solid rgba(153, 153, 153, 0.5);
      box-shadow: inset 0 0 0 #999;
      transition: all 0.25s ease-in-out;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 10px rgba(51, 51, 51, 0.2);
        &:after {
          box-shadow: inset 0 0 0 3px #bf0c14;
        }
      }
      &:after {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: box-shadow 0.25s ease-in-out;
        pointer-events: none;
        @include pseudo;
      }
      img {
        width: 100%;
        height: 380px;
        object-fit: cover;
      }
      .desc {
        padding: 30px;
        color: #333;
        h3 {
          margin-bottom: 20px;
          font-size: 24px;
        }
        .txt {
          display: -webkit-box;
          height: 3em;
          overflow: hidden;
          margin-bottom: 20px;
          line-height: 1.5;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .date {
          color: #999;
        }
      }
    }
  }
}
#customer {
  background-image: url(../images/main/bgCustomer.jpg);
  .titleBox {
    color: #fff;
    h2 {
      &:after {
        display: block;
        width: 30px;
        height: 1px;
        margin: 30px auto;
        content: "";
        background-color: #fff;
      }
    }
  }
  .container {
    display: block;
    margin: 0 auto;
  }
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 50px;
    color: #fff;
    background-color: $main-color;
    border-radius: 100px;
  }
}

@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
