@import "vars";
@import "mixin";

.contentsTable {
  width: 100%;
  border-top: 2px solid $main-color;
  tbody {
    th,
    td {
      padding: 15px 10px;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      &:nth-child(1) {
        border-left: none;
      }
    }
  }
}
.boardTable {
  width: 100%;
  border-top: 2px solid $main-color;
  font-size: 14px;
  tbody,
  thead {
    th,
    td {
      padding: 15px 10px;
      border-bottom: 1px solid #999;
      text-align: center;
    }
  }
  .subject {
    text-align: left;
  }
}
.pagination {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 10px;
  ul {
    display: flex;
    justify-content: center;
  }
  a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
    &.first {
      background-color: $main-color;
      &:before {
        color: #fff;
        @include icon("keyboard_double_arrow_left", 0);
      }
    }
    &.prev {
      background-color: $main-color;
      &:before {
        color: #fff;
        @include icon("chevron_left", 0);
      }
    }
    &.next {
      background-color: $main-color;
      &:before {
        color: #fff;
        @include icon("chevron_right", 0);
      }
    }
    &.last {
      background-color: $main-color;
      &:before {
        color: #fff;
        @include icon("keyboard_double_arrow_right", 0);
      }
    }
    &.active {
      border-bottom: 2px solid $main-color;
    }
  }
}
.searchForm {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
  #searchTxt {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin-right: 10px;
    flex-grow: 1;
  }
  #searchCategory {
    height: 30px;
    padding: 0 10px;
    border: 1px solid #999;
    margin-right: 5px;
  }
  button {
    width: 100px;
    background-color: #111;
    color: #fff;
    font-size: 12px;
    outline: none;
    border: none;
  }
}
