.subVisual {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
  z-index: 2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.subVisual .titleBox {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}
.subVisual .titleBox .subTitle {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}
.subVisual #lnb {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.subVisual #lnb .container {
  display: flex;
}
.subVisual #lnb .container .home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  text-indent: -999px;
}
.subVisual #lnb .container .home:before {
  font-size: 24px;
  color: #fff;
  text-indent: 0;
  display: inline-block;
  margin-left: 0;
  font-family: "Material Icons";
  content: "\e88a";
}
.subVisual #lnb .container .menu {
  width: 200px;
}
.subVisual #lnb .container .menu:hover ul {
  display: block;
}
.subVisual #lnb .container .menu:nth-of-type(2) button {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.subVisual #lnb .container .menu button {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
  text-align: left;
}
.subVisual #lnb .container .menu ul {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
}
.subVisual #lnb .container .menu ul li {
  border-top: 1px solid #ccc;
}
.subVisual #lnb .container .menu ul li a {
  display: block;
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
}

#subVisual01 {
  background-image: url("../images/contents/subVisual01.jpg");
}

#subVisual02 {
  background-image: url("../images/contents/subVisual02.jpg");
}

#subVisual03 {
  background-image: url("../images/contents/subVisual03.jpg");
}

#subVisual04 {
  background-image: url("../images/contents/subVisual04.jpg");
}

#subVisual05 {
  background-image: url("../images/contents/subVisual05.jpg");
}

.subContents {
  min-height: 100vh;
}
.subContents .contentsTitle {
  margin: 80px 0;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.subContents .contentsTitle:after {
  margin: 30px auto;
  display: block;
  position: relative;
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #bf0c14;
}
.subContents .desc {
  margin-top: 50px;
  margin-bottom: 80px;
  text-align: center;
}
.subContents .desc .headTxt {
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.5;
}
.subContents .desc .headTxt strong {
  font-weight: 500;
}
.subContents .desc .headTxt strong span {
  color: #bf0c14;
}
.subContents .desc p {
  margin-bottom: 15px;
  color: #777;
  line-height: 1.8;
}

.tab .tabMenu {
  display: flex;
}
.tab .tabMenu li {
  flex-basis: 25%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-left: none;
}
.tab .tabMenu li.active {
  border-color: #bf0c14;
}
.tab .tabMenu li.active a {
  color: #fff;
  background-color: #bf0c14;
}
.tab .tabMenu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.tab .tabContents {
  position: relative;
}
.tab .tabContents > li {
  display: none;
}
.tab .tabContents > li:nth-child(1) {
  display: block;
}
.tab .tabContents > li:target {
  display: block;
}
.tab .tabContents > li:not(:target) {
  display: none;
}

.h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  display: flex;
}
.h4:before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(180deg, #bf0c14 50%, rgb(136, 136, 136) 50%);
  margin-right: 15px;
}

#introduce .summaryBox {
  display: flex;
  justify-content: center;
}
#introduce .summaryBox .txtBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 50%;
  position: relative;
  color: #fff;
  text-align: center;
  background-position: left 0 bottom 0;
  background-color: #bf0c14;
  background-image: url("../images/contents/bg_logo.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#introduce .summaryBox .txtBox h4 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
}
#introduce .summaryBox .txtBox h4:after {
  margin: 25px 0;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#introduce .summaryBox .txtBox p {
  margin-top: 50px;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.2;
}

#greeting .container {
  display: flex;
}
#greeting .container img {
  align-self: flex-start;
}
#greeting .container .desc {
  margin-left: 50px;
  text-align: left;
}
#greeting .container .desc .headTxt:after {
  margin-top: 20px;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #aaa;
}
#greeting .container .desc .txtBox p {
  line-height: 1.2;
}

#history .historyBox {
  position: relative;
  margin-top: 50px;
}
#history .historyBox:before {
  left: 50%;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
#history .historyBox .yearBox {
  display: flex;
  position: relative;
  padding: 50px 0;
}
#history .historyBox .yearBox:after {
  top: 65px;
  border: 6px solid #bf0c14;
  border-radius: 100px;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#history .historyBox .yearBox:nth-child(2n) {
  justify-content: flex-end;
  padding-left: 100px;
}
#history .historyBox .yearBox:nth-child(2n+1) {
  padding-right: 100px;
  text-align: right;
}
#history .historyBox .yearBox:nth-child(2n+1) .inner .monthBox li {
  flex-direction: row-reverse;
}
#history .historyBox .yearBox:nth-child(2n+1) .inner .monthBox li .month {
  margin-right: 0;
  margin-left: 20px;
}
#history .historyBox .yearBox .inner {
  width: 50%;
}
#history .historyBox .yearBox .inner .year {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}
#history .historyBox .yearBox .inner .monthBox li {
  display: flex;
  margin-bottom: 20px;
}
#history .historyBox .yearBox .inner .monthBox li .month {
  margin-right: 20px;
  font-weight: 700;
}

#philosophy section {
  margin: 50px 0;
}
#philosophy .summaryBox {
  position: relative;
}
#philosophy .summaryBox .txtBox {
  width: 45%;
  left: 20px;
  padding: 50px;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#philosophy .summaryBox .txtBox .star {
  margin-bottom: 10px;
  letter-spacing: 10px;
}
#philosophy .summaryBox .txtBox h4 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.5;
  word-break: keep-all;
}
#philosophy .summaryBox .txtBox h4:after {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 1px #fff;
  background-color: #000;
}
#philosophy .summaryBox .txtBox p {
  font-size: 18px;
  line-height: 1.5;
}
#philosophy .summaryBox:before {
  width: 40%;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  background-color: rgba(191, 12, 20, 0.75);
  display: block;
  position: absolute;
  content: "";
}
#philosophy #economy01 {
  background-color: #fff;
}
#philosophy #economy01 .txtBox {
  margin-bottom: 50px;
  text-align: center;
}
#philosophy #economy01 .txtBox .btnTxt {
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 50px;
  font-size: 18px;
  border: 2px solid #bf0c14;
  border-radius: 100px;
  background-color: #fff;
}
#philosophy #economy01 .txtBox p {
  color: #777;
  line-height: 1.5;
}
#philosophy #economy01 .iconTxt {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
#philosophy #economy01 .iconTxt li .iconDesc {
  margin: 30px 50px;
}
#philosophy #economy01 .iconTxt li .iconDesc h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
#philosophy #economy01 .iconTxt li .iconDesc p {
  font-size: 15px;
  color: #777;
  line-height: 1.5;
  word-break: keep-all;
  padding: 0 5px;
  box-sizing: border-box;
}
#philosophy #economy01 .iconTxt li:not(:first-child):after {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 300px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#economy02 {
  background-color: rgb(248, 244, 244);
}
#economy02 .txtBox {
  padding-top: 100px;
  text-align: center;
}
#economy02 .txtBox .btnTxt {
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 50px;
  font-size: 18px;
  border: 2px solid #bf0c14;
  border-radius: 100px;
}

#location #map {
  height: 500px;
  background-color: #ccc;
  margin-bottom: 50px;
}
#location .tab .tabMenu {
  margin-bottom: 50px;
}
#location .tab .tabMenu .tabContents {
  margin-bottom: 50px;
}

.overlaybox {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.overlaybox:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #bf0c14;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -20px;
}

#store .storeTable {
  width: 100%;
  border-top: 2px solid #bf0c14;
  margin-bottom: 100px;
}
#store .storeTable tbody th,
#store .storeTable thead th {
  padding: 15px 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: 500;
  background-color: rgb(247, 241, 241);
}
#store .storeTable tbody td,
#store .storeTable thead td {
  height: 45px;
  padding: 15px 10px;
  border: 1px solid #ccc;
  text-align: center;
  color: #999;
  vertical-align: middle;
}
#store .storeTable tbody td img,
#store .storeTable thead td img {
  width: 80%;
}
#store .storeTable tbody td a,
#store .storeTable thead td a {
  border: 1px solid #bf0c14;
  border-radius: 5px;
  padding: 10px 25px;
  color: #bf0c14;
}
#store .storeTable tbody td a:before,
#store .storeTable thead td a:before {
  display: inline-block;
  margin-left: 10px;
  font-family: "Material Icons";
  content: "insert_link";
  padding-right: 5px;
  margin: 0;
}
#store .storeTable tbody td a:hover,
#store .storeTable thead td a:hover {
  background-color: #bf0c14;
  color: #fff;
}

#notice #news {
  margin-bottom: 80px;
}