.section {
  padding: 100px 0;
}

.section .titleBox {
  margin-bottom: 50px;
  color: #333;
  text-align: center;
}

.section .titleBox h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 500;
}

.section .titleBox p {
  line-height: 1.5em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

#mainVisual {
  overflow: hidden;
}

#mainVisual li {
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

#mainVisual li.visual01 {
  background-image: url(../images/main/mainVisual01.jpg);
}

#mainVisual li.visual02 {
  background-image: url(../images/main/mainVisual02.jpg);
}

#mainVisual li.visual03 {
  background-image: url(../images/main/mainVisual03.jpg);
}

#mainVisual .slogan {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 2;
  color: #fff;
  transform: translateY(-25%);
  text-align: center;
  user-select: none;
}

#mainVisual .slogan h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 500;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#mainVisual .slogan p {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
}

#mainVisual button {
  position: absolute;
  top: 50%;
  z-index: 3;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.01);
}

#mainVisual button.prev {
  left: 0;
}

#mainVisual button.next {
  right: 0;
}

#mainVisual .iconScroll {
  width: 100%;
  position: absolute;
  bottom: 50px;
  z-index: 1;
  color: #fff;
  text-align: center;
}

#mainVisual .iconScroll .icon {
  display: block;
  width: 24px;
  height: 45px;
  margin: 0 auto 10px;
  border: 3px solid #fff;
  border-radius: 100px;
  box-sizing: unset;
}

#mainVisual .iconScroll .icon:before {
  width: 3px;
  height: 8px;
  margin: 10px auto 0;
  background-color: #fff;
  animation: mouseAnimation 1s ease-in-out 0s infinite alternate;
  display: block;
  position: relative;
  content: "";
}

#quickMenu {
  padding: 0;
}

#quickMenu .container ul {
  display: flex;
}

#quickMenu .container ul li {
  position: relative;
  overflow: hidden;
}

#quickMenu .container ul li:before {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
}

#quickMenu .container ul li:hover:before {
  opacity: 1;
}

#quickMenu .container ul li:hover img {
  transform: scale(1.2);
}

#quickMenu .container ul li .txtBox {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

#quickMenu .container ul li .txtBox p {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
}

#quickMenu .container ul li .txtBox h3 {
  font-size: 38px;
  font-weight: 600;
  line-height: 3rem;
}

#quickMenu .container ul li img {
  transition: transform 0.25s ease-in-out;
  vertical-align: top;
}

#business {
  background-image: url(../images/main/bgBusiness.jpg);
}

#business .titleBox p {
  font-size: 20px;
  font-weight: 300;
}

#business .container ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 720px;
  align-content: space-between;
}

#business .container ul li {
  position: relative;
  overflow: hidden;
}

#business .container ul li:hover img {
  transform: scale(1.2);
}

#business .container ul li .txtBox {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fff;
}

#business .container ul li .txtBox h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

#business .container ul li img {
  transition: transform 0.5s ease-in-out;
  vertical-align: top;
}

#news .list {
  display: flex;
  justify-content: space-between;
}

#news .list li {
  flex-basis: 31.33%;
  position: relative;
  border: 1px solid rgba(153, 153, 153, 0.5);
  box-shadow: inset 0 0 0 #999;
  transition: all 0.25s ease-in-out;
}

#news .list li:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(51, 51, 51, 0.2);
}

#news .list li:hover:after {
  box-shadow: inset 0 0 0 3px #bf0c14;
}

#news .list li:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: box-shadow 0.25s ease-in-out;
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
}

#news .list li img {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

#news .list li .desc {
  padding: 30px;
  color: #333;
}

#news .list li .desc h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

#news .list li .desc .txt {
  display: -webkit-box;
  height: 3em;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.5;
  -webkit-line-clamp: 2;
}

#news .list li .desc .date {
  color: #999;
}

#customer {
  background-image: url(../images/main/bgCustomer.jpg);
}

#customer .titleBox {
  color: #fff;
}

#customer .titleBox h2:after {
  display: block;
  width: 30px;
  height: 1px;
  margin: 30px auto;
  content: "";
  background-color: #fff;
}

#customer .container {
  display: block;
  margin: 0 auto;
}

.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 50px;
  color: #fff;
  background-color: #bf0c14;
  border-radius: 100px;
}

@keyframes mouseAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
